
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Custom css*/
html{
	scroll-behavior: smooth;
}
body{
	font-family: 'Montserrat', sans-serif;
}
.mt6{
	margin-top: 6rem;
}
.pt6{
	padding-top: 6rem;
}
.background-sec{
	background-image:url("../images/bg.svg");
	height: 80vh;
	background-repeat: no-repeat;
	background-size: cover;
}
header nav  .navbar-nav .nav-link{
	color: #fff !important;
	padding:  15px !important;
}
main .carousel .carousel-inner .carousel-item h1{
	font-size: 42px;
	font-weight: bold;
	color: #fff;
	margin: 20px 0;
}
.banner-sec{
	margin-top: 	3rem;
}
main .carousel .carousel-inner .carousel-item p{
	color: #fff;
	padding: 20px 0;
	line-height: 1.5;
}
main .carousel .carousel-inner .carousel-item img{
	width: 90%;
	margin: 0 auto;
	max-height: 370px;
}
main .carousel-indicators{
	width: 25%;
	bottom: 40%;
	margin: 0;
}
.our-services img{
	width: 90%;
	margin: 0 auto;
}
.our-services p{
	margin-bottom: .5rem;
	font-size: 15px;
}
.our-services h1,
.whoarewe  h1,
.whatweserve h1,
.clients h1{
	text-align: center;
	font-weight: bold;
	font-size: 40px;
	color: #6C63FF;
}
.our-services span,
.whoarewe span,
.whatweserve span,
.clients span{
	font-weight: normal;
}
.bb{
	width: 40px;
	height: 2px;
	background:#6c63ff;
	margin: 10px auto;
}
.our-services {
	position: relative;
	overflow: hidden;
}
.our-services .services-content h2{
	font-size: 25px;
	margin: 10px 0;
	font-weight: bold;
	color: #6C63FF;
}
.our-services .services-content p{
	line-height: 1.4;
}
.our-services .bg-sec{
	position: absolute;
	z-index: 	-1;
	top: 0;
	right: -9%;
	overflow: hidden;

}
.our-services .bg-sec2{
	position: absolute;
	z-index: 	-1;
	top: 40%;
	left:-9%;
	overflow: hidden;

}
.our-services .bg-sec3{
	position: absolute;
bottom: 20%;
    /* left: -9%; */
    left: 50%;
	overflow: hidden;
		z-index: 	-1;
}
.our-services .bg-sec4{
	position: absolute;
	bottom: 0;
    /* left: -9%; */
    right:0;
	overflow: hidden;
		z-index: 	-1;
}
.our-services .bg-sec5{
	position: absolute;
	top: 30%;
    /* left: -9%; */
    right:10%;
	overflow: hidden;
	z-index: 	-1;

}
.our-services .bg-sec6{
	position: absolute;
		bottom: 23%;
    /* left: -9%; */
    left:5%;
	overflow: hidden;

}
.our-services .bg-sec7{
	position: absolute;
	bottom: 39%;
    /* left: -9%; */
    left:45%;
	overflow: hidden;
	z-index: 	-1;
}
.btn{
	background:#6C63FF;
	padding: 5px 30px;

	color: #fff;
	font-size: 14px;
	margin: 20px 0;
}
.our-services .bg-sec img{
	width: 240px;
}
/*.header{
	color: transparent; 
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #6C63FF;
  letter-spacing: 3px;
  text-stroke: 1px  #6C63FF; 
}*/

.whoarewe{
	position: relative;
}
.whoarewe  p{
	line-height: 1.5;
	text-align: center;
	width: 80%; 
	margin: 0 auto;
}
.whoarewe h2{
	font-size: 25px;
	margin: 20px 0;
	text-align: center;
}
.whoarewe .ig{
	position: absolute;
}
.whoarewe img{
	width:300px;
}
.whatweserve{
	background:url("../images/testimonial.svg");
	background-size: cover;
	background-position: center;
	padding:2rem 0 6rem;
}
.whatweserve .carousel-inner{
	margin-top:3rem;
}
.whatweserve #testimonial{
	width: 70%;
	margin: 0 auto;
	text-align: left;
}
.whatweserve #testimonial h1{
	text-align: left;
	color: #6C63FF;
	font-weight: lighter;
	font-size: 25px;
}

.whatweserve #testimonial  p{
	line-height: 1.3;
	margin: 20px 0;
}
.whatweserve #testimonial img{
	width: 160px;
	margin: 0 auto;
}
.whatweserve #testimonial .carousel-indicators{
	bottom: -35%;
}
.clients img{
	width: 70%;
	margin: 0 auto;
}
header .navbar-brand img{
	width: 	70px;
}
footer {
	background: url(../images/footer.svg)no-repeat;
	height: 55vh;
	background-size: cover;
	position: relative;
	text-align: center;
}
footer .footer-inner {
	text-align: center;
}
footer .footer-inner ul {
	display: flex;
	padding: 0;
	justify-content: center;
}

footer .footer-inner ul  li{
	padding: 0 10px;
}
footer  h2{
	color: #fff;
	padding: 15px;
}
footer .footer-inner {
	padding:11rem 0 0;
}
footer .border-b{
	display: flex;
	padding: 30px 0 0;
	justify-content: center;
}
footer .border-b a{
	color: #fff;
	text-decoration: none;
}
footer .border-b span{
	color: #fff;
	padding: 0 10px;
}
.navbar-light .navbar-toggler{
	border:none;
}
.slick-dots{
	bottom: -3rem !important;
}