	body {
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  margin: 			0;
  overflow-x: 	hidden;	
}
.section {
  position: relative;
  width: 100%;
  min-height: 75vh;
  margin: auto;
  background-color: #48c9b0;
  color: #ffffff;
}
.section.bg-static,.section.bg-static2 {
  background-color: #85c1e9;
  background-image: url("https://www.dropbox.com/s/v4u0mpzfplgjxaq/img-blog-background-move-scrolling-bg.png?raw=1");
  background-size: cover;
  background-position: center;
}
.section .bg-move,.section .bg-move2 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: auto;
  width: 100%;
  background-image: url("https://www.dropbox.com/s/isdqow2394y3t35/img-blog-background-move-scrolling-boat.png?raw=1");
  background-size: cover;
  background-position: center;
}